html {
  font-size: 62.5%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #f9f6f0;
}

/* nav bar css mobile/general */
nav {
  color: #1f2c38; 
  width: 100vw;
  position: sticky;
  margin: 0;
  height: 40px;
  border-bottom: 5px solid #1f2c38;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navlist {
  flex: 1;
}

.navlist ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navlist ul li {
  padding: 4px;
  margin: 2px;
  text-align: center;
  letter-spacing: 1px;
  border-right: solid 2px #b3c4af;
}

.rightside {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  width: 500px;
  padding: 5px;
  flex: 4;
}

#search-input {
  border-radius: 25px;
  width: 70px;
  border: 1.5px solid #1f2c38;
  font-size: 1.4rem;
  margin-top: 10px;
  font-family: "roboto", 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

.nav-word {
  font-family: "roboto", 'Open Sans', 'Helvetica Neue', sans-serif;
  color:  #1f2c38;
  font-size: 1.5rem;
  padding: 0 10px;
  transition: background-color .2s, color .2s;
  border-radius: 5px;

}

.icon {
  color: #1f2c38;
  display: inline-block;
  padding: 7px 5px;
  font-size: 1.5rem;
  transition: background-color .2s, color .2s;

}

.icon:hover {
  background-color:rgb(19, 177, 129, 0.6);
  color: #1f2c38;
}

.nav-word {
  display: none;
}
/* end of nav bar css mobile */

/* search bar css mobile */
.search {
  position: relative;
  font-family: "roboto", 'Open Sans', 'Helvetica Neue', sans-serif;
  color:  #1f2c38;
  font-size: 1.5rem;

}
.search-results {
  display: none;
  position: absolute;
  font-family: "roboto", 'Open Sans', 'Helvetica Neue', sans-serif;
  color:  #1f2c38;
  font-size: 1.3rem;
  background-color:white;
  width: 100%;
  border-radius: 10px;
}

.search:hover .search-results {
  display: block;
}

.search-results ul {
  padding: 2px;
  margin: 0;
}

.search-results li {
  list-style: none;
  text-align: left;
  padding: 2px;
}

.search-results li:hover {
  background-color: rgb(19, 177, 129, 0.6);
  transition: background-color .2s, color .2s;
  cursor: pointer;
  border-radius: 5px;
}

/* end of search bar css mobile */

.homepagepic {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

h1 {
  color: #1f2c38;
  font-size: 3rem;
  margin: 15px;
  letter-spacing: 1px;
}

p {
  margin: 0 15px;
  font-size: 1.5rem;
  color: #1f2c38;
  width: 90vw;
  font-family: "roboto", 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
}

.btn {
  background-color: #b3c4af;
  padding: 5px;
  border-radius: 5%;
  display: block;
  margin: 10px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: inset 0 -0.6em 0 -0.35em #2b452d;
  color: #4a784c;
  width: 30vw;
  transition: background-color .2s, color .2s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(19, 177, 129, 0.6);
  color: #1f2c38;
}

h2 {
  background-color: white;
  color: #1f2c38;
  font-size: 2.5rem;
  padding: 5px;
  letter-spacing: 1px;
  text-align: center;
}

section {
  background-image: linear-gradient(
    to bottom, 
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4)
    ),
     url(images/sectionbackground.jpg);
  width: 100%;
  height: 20vh;
  background-size: cover;
  display: flex;
  margin: 5% 0;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.gallery div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery {
  display: grid;
  grid-template: repeat(3, 200px) / repeat(2, 200px);
  justify-content: center;
  grid-gap: 5px;
}

.photo5 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

a {
  text-decoration: none; 
  color:inherit;
}

/*here is the footer design*/
footer {
  background-color: rgba(0, 0, 0, 0.767);
  text-align: center;
  color: seashell;
  width: 100%;
  height: 200px;
  padding: 50px;
  border: 10px;
  margin: auto; 
  color: white;
  }

.item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  margin-bottom: 50px;
  color: #fff;
  opacity: 0.65;
}

.item.social>a:hover {
  opacity: 1;
}

.copyright {
  color: rgb(224, 217, 210);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  opacity: 0.7;
}

.copyright {
  padding: 20px;
  margin: 0 auto;
}


@media screen and (min-width: 768px) {
  section {
  height: 30vh;
  margin: 5% 0;
}

/* nav bar css big screen */

.navlist ul {
  font-size: 2rem;
}

#search-input {
  width: 450px;
  font-size: 1.4rem;
}

.rightside {
  padding: 10px;
}

.navlist ul li {
  padding: 5px;
  margin: 5px;
}

.nav-word {
  display: inline;
}

.nav-word:hover {
  background-color:rgb(19, 177, 129, 0.6);
  color: #1f2c38;

}

.icon {
 display: none;
}

/* end of nav bar css big screen */



/* search bar css big screen */

.search-results {
  font-size: 1.5rem;
  padding: 5px;

}

/* end of search bar big screen css */

p {
  width: 60vw;
}
  
.homepagepic {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.gallery {
  display: grid;
  grid-template: repeat(3, 300px) / repeat (3, 400px);
  justify-content: center;
  grid-gap: 5px;
}

.photo1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.photo2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2; 

}

.photo3 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.photo4 {
  grid-column: 1 / 3;
  grid-row: 2 /3;
}

.photo5 {
  display: none;

}

.btn {
  padding: 10px;
  margin: 20px;
}

} 
