html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 62.5%;

}
/* Stucture for the whole page.*/

body{
    background:#f9f6f0; 
  
}
 
/* css nav bar mobile  */
/* nav bar css mobile/general */
nav {
    color: #1f2c38; 
    width: 100vw;
    position: sticky;
    margin: 0;
    height: 40px;
    border-bottom: 5px solid #1f2c38;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .navlist {
    flex: 1;
  }
  
  .navlist ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .navlist ul li {
    padding: 4px;
    margin: 2px;
    text-align: center;
    letter-spacing: 1px;
    border-right: solid 2px #b3c4af;
  }
  
  .rightside {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    width: 500px;
    padding: 5px;
    flex: 4;
  }
  
  #search-input {
    border-radius: 25px;
    width: 70px;
    border: 1.5px solid #1f2c38;
    font-size: 1.4rem;
    margin-top: 10px;
    font-family: "roboto", 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
  }
  
  .nav-word {
    font-family: "roboto", 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  #1f2c38;
    font-size: 1.5rem;
    padding: 0 10px;
    transition: background-color .2s, color .2s;
    border-radius: 5px;
  
  }
  
  .icon {
    color: #1f2c38;
    display: inline-block;
    padding: 7px 5px;
    font-size: 1.5rem;
    transition: background-color .2s, color .2s;
  
  }
  
  .icon:hover {
    background-color:rgb(19, 177, 129, 0.6);
    color: #1f2c38;
  }
  
  .nav-word {
    display: none;
  }
  /* end of nav bar css mobile */
  
  /* search bar css mobile */
  .search {
    position: relative;
    font-family: "roboto", 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  #1f2c38;
    font-size: 1.5rem;
  
  }
  .search-results {
    display: none;
    position: absolute;
    font-family: "roboto", 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  #1f2c38;
    font-size: 1.3rem;
    background-color:white;
    width: 100%;
    border-radius: 10px;
  }
  
  .search:hover .search-results {
    display: block;
  }
  
  .search-results ul {
    padding: 2px;
    margin: 0;
  }
  
  .search-results li {
    list-style: none;
    text-align: left;
    padding: 2px;
  }
  
  .search-results li:hover {
    background-color: rgb(19, 177, 129, 0.6);
    transition: background-color .2s, color .2s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* end of search bar css mobile */
  
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* inside the container or boxes*/
.container
{
    max-width: 100px;
    width: 100%;
    background: rgb(255, 255, 255); 
    padding:50px ;
    border-radius: 20px;

}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background:blanchedalmond;

}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
}

/*making space between .user-details*/

form .user-details .input-box{
    margin-bottom: 15px;
    width: 10px;
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}

.user-details .input-box input{
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border:1px solid rgb(73, 72, 72);
    padding-left: 15px;
    font-size: 16px;
    border-bottom:10px;
    border-bottom-width:2px;
}

/* gender title*/
form .gender-details .gender-title{
    font-size:20px ;
    font-weight: 500;
    position: relative;

}

form .gender-details .category{
   display: flex;
    width: 100%;
    margin: 10px 0 ;
    vertical-align: auto;
    
}

.gender-details .category label{
  display: grid;
  grid-template-columns:min-content auto;
  grid-gap: 20em;
}






form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: #928b7e;
}

form .button input:hover{
    background:  linear-gradient(-135deg,rgb(59, 55, 55),rgb(88, 102, 88));
}

  


a {
  
    text-decoration: none;
    color: inherit;
}



a:hover{
    background-color: rgb(235, 196, 196);
    color: blue;
}
    


@media screen and (min-width:320px) {
    .container{
        max-width:100% ;
    }

    form .user-details .input-box{
        margin-bottom: 1px;
        width: 2px;
    }

    form .gender-details .category{
        width: 10%;
    }

}


@media screen and (min-width:600px) {
    .container{
        max-width:100% ;
    }

    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender-details .category{
        width: 100%;
    }

    
    }

    @media screen and (min-width:750px) {
        .container{
            max-width: 100% ;
        }
    
        form .user-details .input-box{
            margin-bottom: 10px;
            width: 100%;
        }
    
        form .gender-details .category{
            width: 100px;
        }

        @media screen and (min-width: 768px) {
/* nav bar css big screen */

.navlist ul {
    font-size: 2rem;
  }
  
  #search-input {
    width: 450px;
    font-size: 1.4rem;
  }
  
  .rightside {
    padding: 10px;
  }
  
  .navlist ul li {
    padding: 5px;
    margin: 5px;
  }
  
  .nav-word {
    display: inline;
  }
  
  .nav-word:hover {
    background-color:rgb(19, 177, 129, 0.6);
    color: #1f2c38;
  
  }
  
  .icon {
   display: none;
  }
  
  /* end of nav bar css big screen */
  
  
  
  /* search bar css big screen */
  
  .search-results {
    font-size: 1.5rem;
    padding: 5px;
  
  }
} }
  /* end of search bar big screen css */
  
    
    