html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;

}
/* Stucture for the whole page.*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:150px;
    background:#f9f6f0; ;
}
/* inside the container or boxes*/
.container
{
    max-width: 100px;
    width: 100%;
    background: rgb(255, 255, 255); 
    padding:50px ;
    border-radius: 20px;

}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background:blanchedalmond;

}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
}

/*making space between .user-details*/

form .user-details .input-box{
    margin-bottom: 15px;
    width: 10px;
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}

.user-details .input-box input{
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border:1px solid rgb(73, 72, 72);
    padding-left: 15px;
    font-size: 16px;
    border-bottom:10px;
    border-bottom-width:2px;
}

/* gender title*/
form .gender-details .gender-title{
    font-size:20px ;
    font-weight: 500;

}

form .gender-details .category{
    display: inline-flex;
    width: 80%;
    margin: 14px 0 ;
    vertical-align: auto;
    justify-content: space-evenly;
}

.gender-details .category label{
display: flex;
}


form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#f9f6f0,#b3c4af,);
}

form .button input:hover{
    background:  linear-gradient(-135deg,rgb(59, 55, 55),rgb(88, 102, 88));
}

  
.return-button{
    font-size:18px ;
    text-align: center;  
}

a{
    background-color: rgb(241, 216, 216);
  color: rgb(17, 16, 16);
  padding: 5px 50px;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover{
    background-color: rgb(192, 144, 144);
    color: blue;
}
    


@media(min-width:320px) {
    .container{
        max-width:100% ;
    }

    form .user-details .input-box{
        margin-bottom: 1px;
        width: 2px;
    }

    form .gender-details .category{
        width: 10%;
    }

}


@media(min-width:600px) {
    .container{
        max-width:100% ;
    }

    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender-details .category{
        width: 100%;
    }

    
    }

    @media(max-width:750px) {
        .container{
            max-width: 100% ;
        }
    
        form .user-details .input-box{
            margin-bottom: 10px;
            width: 100%;
        }
    
        form .gender-details .category{
            width: 100px;
        }
    
    
        }
    